@model IEnumerable<Hotel_Booking_System.Models.Room>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/image/favicon.png" type="image/png">
    <title>Royal Hotel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_type)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Room_loca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Room_number)
            </td>
            <td>
                @Html.DisplayFor(model => item.Room_type)
            </td>
            <td>
                @Html.DisplayFor(model => item.Room_loca)
            </td>
            <td>
                @Html.DisplayFor(model => item.Room_status)
            </td>
            <td>
                <a href="~/Room_Usage/Create/@item.Room_number" class="btn theme_btn button_hover">Booking Now</a>
            </td>
        </tr>
    }

</table>

